/* Estilo geral do site */
body{
  font-family: Arial;
  margin:0;
  background:#f4f4f4;
  transition: 0.3s;
}

/* Cabeçalho */
header{
  background:green;
  color:white;
  padding:20px;
  text-align:center;
}

/* Imagem no header */
.img-header{
  width: 300px;
  margin-top: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

/* Conteúdo principal */
section{
  padding:20px;
}

/* Modo escuro */
.dark{
  background:#222;
  color:white;
}